body{
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;		
    background-position: center;
    background-attachment: fixed;
    position: relative;
    margin: 100px 25px 25px 100px;
}
.button {
    background-color: #007fbd;
    border: none;
    color: white;
    padding: 15px 25px;
    border:0.5px solid #314179;
    text-align: center;
    cursor: pointer;
    font-family:Arial;
	font-size:13px;
	font-weight:bold;
    text-decoration:none;
}
.button:hover {
    background-color: #00334e;
}
.navbar
{
    background-color: #007fbd;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: .5rem 1rem;
    display: inline-block;
}
.container {
    max-width: 960px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}
.header {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 2rem;
    line-height: inherit;
    white-space: nowrap;
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
h2 {
    font-size: 2rem;
    line-height: .01;
    font-weight: 500;
    
}
input[type=text],input[type=password]{
    width: 100%;
    padding:15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background-color: #f1f1f1 ;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
.modal {
    display: none;
    position:fixed;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fefefe;
    padding-top: 50px;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%
}
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}
